<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService1" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:5431/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Srv1Ref.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
      <!--<behaviors>
        <endpointBehaviors>
          <behavior name="clientInspectorsAdded" >
            <simpleBehaviorExtension />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <extensions>
        <behaviorExtensions>
          <add
            name="simpleBehaviorExtension"
            type="ServiceTest.SimpleBehaviorExtensionElement, ServiceTest, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>-->
    </system.serviceModel>
</configuration>
